$block: 60px;
$border-width: 40px;

body {
  // background-color: lightgrey;
}

.container {
  // height: 100%;
  margin: 40px auto;
  max-width: 1300px;
  display: flex;
  width: 90%;
  // height: 100vh;
  // justify-content: space-between;
}

.settings {
  width: calc(30% - 40px);
  margin-right: 10vw;
}

.instructions {
  background-color: #FFEDBC;
  padding: 40px;

  h1 {
    margin-top: 0;
  }
}

input {
  padding: 5px 10px;
}

.coordinate-system {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border: 20px solid grey;
  // overflow: hidden;
}

.blocks {
  outline: 1px solid black;
  &:nth-child(odd) {
    // background-color: lightgrey;
  }
}

.dirt-patch {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    background-color: black;
    border-radius: 50%;
  }
}

.roomba {
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 12px;
}

.room-coordinates,
.roomba-coordinates {
  padding: 10px 0 10px 0;

  p {
    margin: 5px 0 0 0;
  }

  span {
    display: inline-block;
    margin-right: 10px;
  }
}

.room-settings,
.roomba-settings,
.dirt-settings {
  padding: 10px 0 20px 0;

  label,
  input {
    margin-right: 10px;
  }

  input {
    margin-top: 10px;
  }

  p {
    margin: 5px 0 0 0;
  }
}

.dirt-settings {
  input {
    border: 1px solid red;
  }
}

.y-axis {
  position: absolute;
  margin: 0;
  top: -$border-width;
  left: calc(-#{$border-width} - 5px);
}

.x-axis {
  position: absolute;
  margin: 0;
  bottom: calc(-#{$border-width} - 9px);
  right: -$border-width;
}

.add-patch {
  appearance: none;
  border-radius: 0;
  padding: 10px;
  background-color: #FFEDBC;
  margin-top: 20px;
}
