$square-width: 60px;
$square-height: 60px;

.container {
  height: 100%;
  margin: 40px auto;
  max-width: 1300px;
}

.coordinate-system {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: yellow;
  // max-width: calc(#{$square-width + 2} * 5);
}

.blocks {
  outline: 1px solid black;
}
/**
.square {
  height: $square-height;
  width: $square-width;
  border: 1px solid grey
  &:nth-child(odd) {
    background-color: hotpink;
  }

  &:nth-child(even) {
    background-color: orange;
  }
}
  */
